@charset "UTF-8";
@font-face {
    font-family: Londres ;
src: url("../Ex018/fonts/OldLondon.ttf") format("opentype");
font-weight: normal;
font-style: normal;
}
h1{
    font-family: Londres, Helvetica, sans-serif;
    
}